#PTO #EBLAST *,
#PTO #MEMBERSHIP *,
#PTO #HELP *,
#PTO #INFO *,
#PTO #SCHEDULE *,
#PTO #EXECBOARD *,
#PTO #FUNDING *,
#PTO #HEADER *,
#PTO #FOOTER *
{
	text-align: center;
}

#PTO #FUNDING td.Section
{
	border: 1px solid black;
}

#PTO #FUNDING img
{
	max-width: 150px;
	max-height: 120px;
}


#PTO #BANNER, #PTO #HEADER
{
	position: relative;
	/* left: -80px; */
	text-align: center;
}

#MENU
{
	position: fixed;
	padding: 10px;
	border-radius: 3px;
	background: #000;
	border: 2px solid #F60;
}
#MENU * {
	text-decoration: none;
	color: #FFF;
	font-family: arial, helvetica, sans-serif;
	letter-spacing: 3px;
	font-size: 12px;
	text-transform: uppercase;
}
